<div class="moldura-usuario">
	<div class="usuario">
		<img src="http://graph.facebook.com/{{user.id}}/picture" alt="{{user.first_name}}" height="50" width="50">
		<p>{{user.first_name}}</p>
	</div>
</div>