#usuarios {
  background-color:  #A0522D;
}

.moldura-usuario {
  display: inline-block;
  height: 100px;
  margin: 10px;
  width: 100px;
}
.usuario {
  background-color: #09ddaa;
  border-radius: 55px;
  height: 90px;
  width: 90px;
}

.usuario:hover {
  background-color: #09ddaa;
  border-radius: 55px;
  height: 100px;
  width: 100px;
}

#salao {
  background-color: #eeffbb;
  height: 400px;
  padding-top: 100px;
}

#mesa {
  background-color: #00ffff;
  border-radius: 150px;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}