<h1>Está será a tela de login</h1>
<p>Teste de scope: <strong>{{ login.status }}</strong></p>
<p>O template deste arquivo está em: app/assets/templates/_login.html.erb</p>
<p>O controller desta página está em: app/assets/javascript/ng-app/controllers/login.js</p>


<p>Link para <a href="#/table">Controle de mesa</a></p>
