<h1>Está será de controle da mesa</h1>
<p>Teste de scope: <strong>{{ table.status }}</strong></p>
<p>O template deste arquivo está em: app/assets/templates/_table.html.erb</p>
<p>O controller desta página está em: app/assets/javascript/ng-app/controllers/table.js</p>
