<div id="usuarios">
    <div ng-repeat="friend in friends" data-fb-user friend="friend" class="moldura-usuario"></div>		
</div>
 
<div id="salao">
	<div id="moldura-mesa">
    	<div id="mesa"></div>
    </div>
</div>
