<!DOCTYPE html>
<html>
<head>
  <title>EasyPay</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="EasyPay">

<header id="main-page-header">
  <h1>Easy Pay</h1>
</header>
  <nav>
      <a href="/">Login</a>
      <a href="#/table">Mesa</a>  
      <hr>
  </nav>
</div>
<%= yield %>

</body>
</html>
